.cv-preview-app-content{
    height: 100%;
    background-color: white;
    outline: solid black 1px;
    overflow: hidden;
}

#cv-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-preview {
    position: relative;
    display: flex;
}

#cv-preview > img{
    border: solid black 1px;
    border-radius: 2rem;
    max-width: 100%;
    max-height: 400px;
}

#cv-download-button{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}