.cv-preview-app-content{
    height: 100%;
    width: 100%;
    background-color: white;
    outline: solid black 1px;
    padding: 2rem;
    overflow: hidden;

    box-sizing: border-box;
}

#cv-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-preview {
    position: relative;
  
}

#cv-preview > img{
    border: solid black 1px;
    border-radius: 2rem;
    width: 300px;
    height: auto;
}

#cv-download-button{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}