.desktop-app{
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem;
    border: solid lightblue 1px;
    border-style: hidden;
}

.desktop-app > :first-child{
    padding-bottom: 1rem;
}

.desktop-app > :last-child{
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.desktop-app:hover{
    cursor: default;
}

.desktop-app-shortcut{
    position: absolute;
    left:30%;
    background-color: white;

    display: flex;
}