.desktop-grid{
    position: relative;

    display: grid;
    grid-template-columns:  repeat(10, 2fr);
    grid-template-rows: repeat(10, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

    width: 100%;
    height: calc(100% - 45px);
}