#text-area{
    flex: 1;
    white-space: pre-line;

    font-size: 0.9rem;
    padding-top: 0.5rem;

    background-color: black;
    color: lightgray;

    overflow-y: scroll;
    overflow-wrap: break-word;
}

#cursor{
    display: inline-block;
    height: 3px;
    width: 8px;
    background-color: white;
    animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes blink {
	0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0;}
	100% { opacity: 0; }
}