.window-app {
  position: absolute;

  flex-direction: column;

  padding: 10px;

  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}

.window-app > :last-child{
  background-color: white;
  outline: solid black 1px;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}