.window-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    background-color: white;
    overflow: hidden;
    color: black;
}

.window-bar > :first-child{
    margin: 0 0.5rem;
}

.window-bar > :nth-child(2):hover{
    cursor: default;
}

.window-bar > :last-child{
    border: 0;
}

.window-bar > :last-child > *{
    border: none;
    border-radius: 0;
}

.window-bar > :last-child > *:hover{
    background-color: lightgray;
}