.window-app{
    position: absolute;
    display: flex;
    flex-direction: column;

    border: solid black 1px;

    min-width: 200px;
    min-height: 100px;

    max-width: fit-content;
    max-height: fit-content;

    z-index: 2;
}